<%#
@message は、viewで表示が行われる前に
`messages_controller`  の `create` アクションの `@message.save` の部分で
保存と同時にバリデーションが行われています。

バリデーションでエラーになると、 
`@message.errors` の中にエラー内容が入るので、 
form_for はそれを見て、エラーがある項目のみ、 
`<div class='field_with_errors’>` という divで囲みます。

form_for の引数が `Message.new` の場合は、
値を受けるためのオブジェクトはできていますが、
エラー情報が入っていないため、テキストボックスなどが 
`<div class='field_with_errors’>` で囲まれず、赤枠が出ていなかった、という感じです。
%>
<%= form_for(Message.new, html: {class: "form-horizontal"}) do |f| %>
    <div class="form-group">
        <label for="inputname" class="col-sm-2 control-label">NAME</label>
        <div class="col-sm-10">
            <%= f.text_field :name , class:"form-control" , id:"inputname" , placeholder:"name" %>
        </div>
    </div>
    
     <div class="form-group">
        <label for="inputage" class="col-sm-2 control-label">AGE</label>
        <div class="col-sm-10">
            <%= f.text_field :age , class:"form-control" , id:"inputage" , placeholder:"age" %>
        </div>
    </div>

   <div class="form-group">
        <label for="inputmessage" class="col-sm-2 control-label">MESSAGE</label>
        <div class="col-sm-10">
            <%= f.text_area :body , class:"form-control" , id:"inputmessage" , placeholder:"message" %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit class:"btn btn-sm btn-primary" %>
        </div>
    </div>

<% end %>